<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-init-method="myinit" default-destroy-method="mydestroy">

	 
	<bean id="departmentBean1" class="com.beans.DepartmentBean" >
		<property name="name" value="sales" />
	</bean>
	
	<bean id="departmentBean2" class="com.beans.DepartmentBean" primary="true">
		<property name="name" value="tech" />
	</bean>
 	
	<!--  
	<bean id="employee1" class="com.beans.EmployeeBean"
		autowire="byName">
		<property name="fullName" value="John Doe" />

	</bean>


	<bean id="employee1" class="com.beans.EmployeeBean" autowire="byType">
		<property name="fullName" value="John Doe" />
	</bean>
	-->
		
	<bean id="employee1" class="com.beans.EmployeeBean" autowire="constructor">
		<property name="fullName" value="John Doe" />
		
	</bean>
</beans>